<%= simple_form_for(@dog) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :breed %>
    <%= f.input :age %>
    <%= f.input :cgc %>
    <%= f.input :registration %>
    <%= f.input :therapy_group %>
    <%= f.input :renewal_date %>
    <%= f.input :image %>
    <%= f.input :description %>
    <%= f.input :gender %>
    <%= f.input :member %>
    <%= f.input :retired %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
