<%= stylesheet_link_tag 'nonHomeNav', media: 'print, screen' %>
<div class="container belowNav">
  <p id="notice"><%= notice %></p>

<h1>Dogs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>Age</th>
      <th>Cgc</th>
      <th>Registration</th>
      <th>Therapy group</th>
      <th>Renewal date</th>
      <th>Image</th>
      <th>Description</th>
      <th>Gender</th>
      <th>Member</th>
      <th>Retired</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.name %></td>
        <td><%= dog.breed %></td>
        <td><%= dog.age %></td>
        <td><%= dog.cgc %></td>
        <td><%= dog.registration %></td>
        <td><%= dog.therapy_group %></td>
        <td><%= dog.renewal_date %></td>
        <td><%= dog.image %></td>
        <td><%= dog.description %></td>
        <td><%= dog.gender %></td>
        <td><%= dog.member %></td>
        <td><%= dog.retired %></td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>
</div>