<div class="col-md-5">
  <% if current_page?(new_dog_path) %>
      <h1>New Dog</h1>
  <% else %>
      <h1>Editing Dog</h1>
  <% end %>
  <%= form_for(@puppy) do |f| %>
      <% if @puppy.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@puppy.errors.count, "error") %> prohibited this message from being saved:</h2>

            <ul>
              <% @puppy.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :breed %>
        <%= f.text_field :breed, class:"form-control" %>
      </div>
      <div class="field">
        <%= f.label :age %>
        <%= f.text_field :age, class:"form-control" %>
      </div>
      <div class="field">
        <%= f.label :cgc %>
        <%= f.text_field :registration, class:"form-control" %>
      </div>
      <div class="field">
        <%= f.label :registration %>
        <%= f.text_field :registration, class:"form-control" %>
      </div>
      <div class="field">
        <%= f.label :therapy_group %>
        <%= f.text_field :therapy_group, class:"form-control" %>
      </div>
      <div class="field">
        <%= f.label :renewal_date %>
        <%= f.date_select :renewal_date, class:"form-control" %>
      </div>
      <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image, class:"form-control" %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, class:"form-control" %>
      </div>
      <div class="field">
        <%= f.label :gender %>
        <%= f.text_field :gender, class:"form-control" %>
      </div>
      <div class="field">
        <%= f.label :member %>
        <%= f.text_field :member, class:"form-control" %>
      </div>
      <div class="field">
        <%= f.label :retired %>
        <%= f.check_box :retired, class:"form-control" %>
      </div>
      <div class="actions">
        <%= f.submit class:"btn btn-warning" %>
        <%= link_to 'Back', dogs_path, class: "btn btn-success" %>
      </div>
  <% end %>
</div>