<%= stylesheet_link_tag 'nonHomeNav', media: 'print, screen' %>
<div class="container belowNav">
  <p id="notice"><%= notice %></p>
  <div class="container-fluid">
    <div class="col-md-6">
      <%= link_to 'R.E.A.D. Team', readTeam_path, class:'links' %>
    </div>
    <div class="col-md-6">
      <%= link_to 'Therapy Team', therapyTeam_path, class:'links' %>
    </div>
  </div>
<h1>Puppies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @puppies.each do |puppy| %>
      <tr>
        <td><%= link_to 'Show', puppy %></td>
        <td><%= link_to 'Edit', edit_puppy_path(puppy) %></td>
        <td><%= link_to 'Destroy', puppy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Puppy', new_puppy_path %>
</div>