<%= stylesheet_link_tag 'nonHomeNav', media: 'print, screen' %>
<div class="container belowNav">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="container-fluid">

          <div class="col-sm-6 col-md-3">
            <div class="thumbnail"><%= image_tag (@puppy.image.to_s) %></div>
            <div class="caption">
              <h3><%= @puppy.name %></h3>
              <p><%= @puppy.age %>,</p>  <br>
               <p> <%= @puppy.gender %>,</p><br>
                <p><%= @puppy.breed %></p><br>
              <p><%= @puppy.description %></p><br>
              <p><%= @puppy.cgc %></p><br>
              <p><%= @puppy.therapy_group %></p><br>
              <p><%= @puppy.renewal_date %></p><br>
              <p><%= @puppy.member %></p><br>
              <p><%= @puppy.retired %></p><br>

              <% if user_signed_in? %>
                  <p>
                    <%= link_to 'Show', @puppy, class:"btn btn-success" %>
                    <%= link_to 'Edit', edit_puppy_path(@puppy) %>
                    <%= link_to 'Destroy', @puppy, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
              </p>
            </div>
          </div>
    </div>
  </div>
</div>