<%= stylesheet_link_tag 'nonHomeNav', media: 'print, screen' %>
<div class="container belowNav">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="container-fluid">

      <div class="col-sm-6 col-md-3">
            <div class="thumbnail"><%= image_tag (@puppy.image) %></div>
            <div class="caption">
              <h3><strong>Name:</strong> <%= @puppy.name %></h3>
              <p><strong>Age: </strong><%= @puppy.age %>,</p>  <br>
              <p><strong>Gender: </strong><%= @puppy.gender %>,</p><br>
              <p><strong>Breed: </strong><%= @puppy.breed %></p><br>
              <p><strong>Description: </strong><%= @puppy.description %></p><br>
              <p><strong>Canine Good Citizen: </strong><%= @puppy.cgc %></p><br>
              <p><strong>Therapy Group: </strong><%= @puppy.therapy_group %></p><br>
              <p><strong>Renewal Date: </strong><%= @puppy.renewal_date %></p><br>
              <p><strong>Member: </strong><%= @puppy.member %></p><br>
              <p><strong>Retired: </strong><%= @puppy.retired %></p><br>

              <% if current_user.try(:admin?) %>
                  <p>
                    <%= link_to 'Edit', edit_puppy_path(@puppy), class:"btn btn-warning" %>|
                    <%= link_to 'Destroy', @puppy, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>|
                    <%= link_to 'Back', puppies_path, class:"btn btn-success" %>
              <% end %>
              </p>
            </div>
          </div>
    </div>
  </div>
</div>