<%= stylesheet_link_tag 'nonHomeNav', media: 'print, screen' %>
<div class="container belowNav">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="container-fluid">

      <div class="col-sm-6 col-md-3">
            <div class="thumbnail"><%= image_tag (@puppy.image) %></div>
            <div class="caption">
              <h3><strong>Name:</strong> <%= @puppy.name %></h3>
              <p>Age: <%= @puppy.age %>,</p>  <br>
              <p>Gender: <%= @puppy.gender %>,</p><br>
              <p>Breed: <%= @puppy.breed %></p><br>
              <p>Description: <%= @puppy.description %></p><br>
              <p>Canine Good Citizen: <%= @puppy.cgc %></p><br>
              <p>Therapy Group: <%= @puppy.therapy_group %></p><br>
              <p>Renewal Date: <%= @puppy.renewal_date %></p><br>
              <p>Member: <%= @puppy.member %></p><br>
              <p>Retired: <%= @puppy.retired %></p><br>

              <% if admin_user_signed_in? %>
                  <p>
                    <%= link_to 'Edit', edit_puppy_path(@puppy), class:"btn btn-warning" %>|
                    <%= link_to 'Destroy', @puppy, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>|
                    <%= link_to 'Back', puppies_path, class:"btn btn-success" %>
              <% end %>
              </p>
            </div>
          </div>
    </div>
  </div>
</div>