%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ColdNoses
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js", 'application', 'data-turbolinks-track' => true
  %body
    - if current_page?(root_path)
      %section.banner{:role => "banner"}
        .container
          .banner-text.text-center
            %h1 Cold Noses,
            %h2 Warm Hearts
            =link_to "Join Us", new_user_registration_path, class: "btn btn-warning"

  - unless current_page?(new_user_registration_path) || current_page?(new_user_session_path)
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              =link_to "Home", root_path
            %li
              = link_to 'Calendar', events_path, :class => 'navbar-link'
            %li
              %a{:href => "#"} Volunteer
            %li
              %a{:href => "#"} Contact
              - if user_signed_in?
                Logged in as
                = succeed "." do
                  %strong= current_user.email
                %li
                  = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
                %li
                  = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
              - else
                %li
                  = link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'
                %li
                  = link_to "Login", new_user_session_path, :class => 'navbar-link'
  .container-fluid.main
    = yield
